.jd-form
{
	clear:both;
	display:block;
}

.jd-form .jd-form-row
{
	padding:12px 24px;
}

.jd-form .jd-button-row.left
{
	text-align:left;
}

.jd-form .jd-button-row
{
	padding:16px 24px;
	border-top:1px solid #bcbcbc;
	text-align:right;
	background:url(../../images/core/jd-inset.png);
}

.jd-form .jd-form-item
{
	min-height:34px;
	height:34px;
	height:auto !important
}

.jd-form fieldset
{
	margin:0;
}

.jd-form ul.jd-form-list, 
.jd-form ul.jd-form-list li
{
	margin:0;
	list-style:none;
}

.jd-form fieldset
{
	border-top:1px dotted #bcbcbc;
	padding-top:16px;
}

.jd-form fieldset legend
{
	margin-left:24px;
	padding:0 4px;
	border:1px dotted #bcbcbc;
}

.jd-form .jd-form-inline label
{
	padding-top:7px;
}

.jd-form label
{
	padding-bottom:7px;
	cursor:pointer;
}

.jd-form label span.required
{
	color:#FF0000;
}

/* Input Styles */

.jd-form .jd-form-item select, 
.jd-form .jd-form-item textarea, 
.jd-form .jd-form-item .jd-textinput, 
.jd-form .jd-form-item.large select, 
.jd-form .jd-form-item.large textarea, 
.jd-form .jd-form-item.large .jd-textinput
{
	width:100%;
}

.jd-form .jd-form-item.medium select, 
.jd-form .jd-form-item.medium textarea, 
.jd-form .jd-form-item.medium .jd-textinput
{
	width:75%;
}

.jd-form .jd-form-item.small select, 
.jd-form .jd-form-item.small textarea, 
.jd-form .jd-form-item.small .jd-textinput
{
	width:55%;
}

.jd-form select, 
.jd-form textarea, 
.jd-form .jd-textinput, 
.jd-form .file
{
	border:1px solid #c5c5c5;
	padding:6px 7px;
	color:#323232;
	margin:0;
	background-color:#ffffff;
	outline:none;
	
	/* CSS 3 */
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	
	-moz-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	-o-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);	
	-webkit-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	-khtml-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}

.jd-form select:disabled, 
.jd-form textarea:disabled, 
.jd-form .jd-textinput:disabled
{
	background:#f0f0f0;
}

.jd-form select.error, 
.jd-form textarea.error, 
.jd-form .jd-textinput.error
{
	border-color:#eb979b;
}

/* Placeholder Text */

.jd-form .placeholder
{
  color: #aaa;
}

/* Inline Form Elements */

.jd-form .jd-form-inline .jd-form-item
{
	margin-left:136px;
}

.jd-form .jd-form-inline label
{
	width:120px;
	display:block;
	float:left;
	margin-right:16px;
}

/* Block Form Elements */

.jd-form .jd-form-block label, 
.jd-form .jd-form-block .jd-form-item
{
	display:block;
	width:100%;
	margin:0;
	float:none;
}

/* Form List */

.jd-form .jd-form-inline ul.jd-form-list
{
	float:left;
	width:68%;
	margin-top:4px;
}

.jd-form .jd-form-inline .jd-form-item ul.jd-form-list
{
	width:100%;
}

.jd-form ul.jd-form-list, 
.jd-form .jd-form-block ul.jd-form-list
{
	display:block;
	width:100%;
}

.jd-form ul.jd-form-list.inline li
{
	float:left;
	margin-right:10px;
}

.jd-form ul.jd-form-list li label
{
	width:auto;
	float:none;
	margin:0;
	padding:0;
	display:inline;
	vertical-align:middle;
}

.jd-form ul.jd-form-list li input
{
	vertical-align:middle;
}

/* Textarea */

.jd-form textarea
{
	height:10em;
	resize:none;
}

/* Form Clearfix */

.jd-form .jd-form-row:before,
.jd-form .jd-form-row:after
{
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.jd-form .jd-form-row:after
{
	clear: both;
}

.jd-form .jd-form-row
{
	zoom: 1;
}

/* Messages */

.jd-form-message
{	
	font-size:12px;
	border-bottom:1px solid #d2d2d2;
	padding:15px 8px 15px 45px;
	position:relative;
	vertical-align:middle;
	background:#f8f8f8;
}

.jd-form-message p, 
.jd-form-message ul, 
.jd-form-message ol
{
	margin:0;
}

.jd-form-message ul li, 
.jd-form-message ol li
{
	list-style-position:inside;
	list-style-type:inherit;
	margin:0;
}

.jd-form-message .jd-message-close
{
	background:url(../../images/jd-close-btn.html) no-repeat left center;
	width:18px;
	height:18px;
	display:block;
	position:absolute;
	right:10px;
	top:11px;
	cursor:pointer;
}

.jd-form-message.error
{
	background-color:#ffcbca;
	background-image:url(../../images/core/message-error.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#eb979b;
	color:#9b4449;
}

.jd-form-message.success
{
	background-color:#e1f1c0;
	background-image:url(../../images/core/message-success.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#b5d56d;
	color:#62a426;
}

.jd-form-message.warning
{
	background-color:#fef0b1;
	background-image:url(../../images/core/message-warning.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#ddca76;
	color:#a98b15;
}

.jd-form-message.info
{
	background-color:#bce5f7;
	background-image:url(../../images/core/message-info.png);
	background-position:12px 12px;
	background-repeat:no-repeat;
	border-color:#a6d3e8;
	color:#11689E;
}

.jd-form .jd-form-item .jd-error, 
.jd-form .jd-form-item label.error, 
.jd-form .jd-form-item span.error, 
.jd-form .jd-form-item div.error
{
	font-size:11px;
	display:block;
	width:auto;
	float:none;
	margin:-4px 0 0 0;
	padding:10px 8px 6px 8px;
	cursor:default;
	background:#c83139;
	color:#ffffff;
	
	/* CSS 3 */
	
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	-khtml-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

/* File Style */

.jd-filestyle
{
	padding-right:87px !important;
}

.feat
{
	outline:none;
	cursor:pointer;
	background:#e0e0e0 url(../../images/core/jd-file-btn.png) no-repeat center center;
	color:#666666;
	height:28px;
	border:1px solid #ababab;
	margin-left:-80px;
	text-align:center;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	-khtml-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	
	-webkit-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-o-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-khtml-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.feat:active
{
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
}

.feat .jd-filestyle
{
	padding:2px 0 !important;
}

/* Color Picker */

.jd-colorpicker
{
	background-image:url(../../images/core/cpicker.png);
	background-repeat:no-repeat;
	background-position:right center;
	
	width:150px !important;
	padding-right:32px !important;
}

/* Dual List Box */

div.jd-dualbox
{
	position:relative;
}

div.jd-dualbox .countLabel
{
	margin-top:4px;
	display:block;
}

div.jd-dualbox .jd-dualbox-col1, 
div.jd-dualbox .jd-dualbox-col2,  
div.jd-dualbox .jd-dualbox-col3
{
	width:40%;
	float:left;
}

div.jd-dualbox .jd-dualbox-col2
{
	width:20%;
	text-align:center;
	position:relative;
	margin-top:150px;
}

div.jd-dualbox .jd-dualbox-col2 button
{
	width:32px;
	height:32px;
}

div.jd-dualbox .jd-dualbox-filter
{
	margin-bottom:10px;
}

div.jd-dualbox .jd-dualbox-filter label
{
	display:block;
}

div.jd-dualbox .jd-dualbox-filter .jd-textinput
{
	float:left;
	margin-right:-32px;
	padding-right:36px;
}

div.jd-dualbox .jd-dualbox-filter button
{
	float:left;
	margin:0;
	width:32px;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	-khtml-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}

div.jd-dualbox button
{
	outline:none;
	font-size:11px;
	margin:2px;
	height:30px;
	text-align:center;
	line-height:16px;
	cursor:pointer;
	
	background-color:#e0e0e0;
	color:#666666;
	border:1px solid #ababab;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-o-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-khtml-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

div.jd-dualbox button:active
{
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 760px) {
	/* Inline Form Elements */
	
	.jd-form .jd-form-inline label, 
	.jd-form .jd-form-inline .jd-form-item
	{
		display:block;
		width:100%;
		margin:0;
		float:none;
	}
	
	.jd-form .jd-form-inline ul.jd-form-list
	{
		float:none;
		width:auto;
		display:block;
	}
}